/* style.css */ 

body {
    background-color: rgb(56, 56, 56);
    font-family: 'Courier New', Courier, monospace;
}

#name {
    font-size: xx-large;
}

#main {
 margin: 60px;
}

#projects {
    color: rgb(75, 84, 221);
}

#projectsMain{
    margin-left: 40px;
}

#githublink{
    margin-left: 30px;
}

#projectLinks {
    font-size: x-large;
}

#miniProjectLinks {
    font-size: medium;
    margin-top: 5px;
    margin-left: 5px;
}

#gooseDashboard {
    display: inline-block;
    margin-top: 10px;
    max-width: 250px;
    transition: max-width 0.3s ease;
    z-index: 1;
}

#gooseDashboard:hover {
    max-width: 500px;
    z-index: 3;
}

.textLinks {
    color: grey;
    text-decoration: none;
    transition: color 0.3s ease;
    
}

.textLinks:hover {
    color: rgb(75, 84, 221);
}

.links {
    width: fit-content;
    display: block;
    color: darkgrey;
    text-decoration: none;
    transition: color 0.3s ease;
}

.links:hover {
    color: rgb(75, 84, 221);
}

.projectHeader {
    margin-left: 5px;
}

.projectInd {
    padding-bottom: 20px;
}

.imageContainer {
    display: flex;
}

.projectImages {
    display: inline-block;
    margin-top: 10px;
    margin-left: -60px;
    max-width: 200px;
    transform: perspective(1000px) rotateY(40deg);
    transition: transform 0.3s ease, max-width 0.3s ease;
    z-index: 1;

}

.projectImages:first-child{
    margin-left: 0;
}

.projectImages:hover {
    max-width: 250px;
    transform: perspective(1000px) rotateY(0deg) translateX(-50px);
    z-index: 3;
}

.projectDescription{
    color: darkgrey;
    margin-left: 5px;
    font-size: small;
    max-width: 50%;
    padding-bottom: 30px;
    border-bottom: 2px solid rgb(30, 30, 30)
}
