/* style.css */ 

body {
    background-color: rgb(56, 56, 56);
    font-family: 'Courier New', Courier, monospace;
}

form {
    border-bottom: 2px solid rgb(30, 30, 30);
    max-width: 60%;
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: dimgray;
    color: aliceblue;
}

label {
    margin-left: 5px;
    margin-top: -25px;
    color: darkgrey;
}

#name {
    font-size: xx-large;
}

#main {
 margin: 60px;
}

#projects {
    color: rgb(75, 84, 221);
}

#projectsMain{
    margin-left: 40px;
}

#githublink{
    margin-left: 30px;
}

#projectLinks {
    font-size: x-large;
}

#miniProjectLinks {
    font-size: medium;
    margin-top: 5px;
    margin-left: 5px;
}

#gooseDashboard {
    display: inline-block;
    margin-top: 10px;
    max-width: 250px;
    transition: max-width 0.3s ease;
    z-index: 1;
}

#gooseDashboard:hover {
    max-width: 500px;
    z-index: 3;
}

#commentsHeader {
    color: rgb(75, 84, 221);
    margin-top: -2px;
}

#commentName {
    font-size: medium;
    width: 65%;
    margin-top: -15px;
}

#newCommentLabel {
    margin-top: -25px;
}

#commentSubmit {
    background-color: white;
    color:black;
    width: fit-content;
    margin-bottom: 20px;
    margin-top: -10px;
}

#charLimitName {
    display: flex; 
    justify-content: flex-end;
    width: 65%;
    font-size: small;
    margin-top: -15px;
    color: dimgray;
}

#charLimitTextArea {
    display: flex; 
    justify-content: flex-end;
    width: 80%;
    font-size: small;
    margin-top: -15px;
    color: dimgray;

}

.textLinks {
    color: grey;
    text-decoration: none;
    transition: color 0.3s ease;
    
}

.textLinks:hover {
    color: rgb(75, 84, 221);
}

.links {
    width: fit-content;
    display: block;
    color: darkgrey;
    text-decoration: none;
    transition: color 0.3s ease;
}

.links:hover {
    color: rgb(75, 84, 221);
}

.projectHeader {
    margin-left: 5px;
}

.projectInd {
    padding-bottom: 20px;
}

.imageContainer {
    width: 75%;
}


.projectImages {
    margin-top: 20px;
    margin-left: -13%;
    max-width: 30%;
    transform: perspective(1000px) rotateY(40deg);
    transition: transform 0.3s ease;
    z-index: 1;

}

.projectImages:first-child{
    margin-left: 0;
}

.projectImages:hover {
    transform: perspective(1000px) rotateY(0deg) translateX(-40%);
    z-index: 3;
}

.projectDescription{
    color: darkgrey;
    margin-left: 5px;
    font-size: small;
    max-width: 60%;
    padding-bottom: 30px;
    border-bottom: 2px solid rgb(30, 30, 30)
}

.commentsMain {
    margin-left: 40px;
}

.commentSubHeader {
    color: rgb(163, 163, 163);
    margin-bottom: 50px;
}

.newComment {
    width: 80%;
    height: 150px;
    margin-bottom: 10px;
    margin-top: -15px;
    background-color: dimgray;
    color: aliceblue;
    font-size: medium;
}

.postedComments {
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 30, 30);
    padding: 10px;
    width: 50%;
    height: fit-content;
    margin-top: 20px;
    border-radius: 5px;
}

.postedName {
    margin-top: 0px;
    padding: 2px;
    background-color: gray;
    width: fit-content;
    font-size: medium;
    color: aliceblue;
    border-radius: 3px;
}

.postedComment {
    margin-top: -6px;
    background-color: gray;
    height: fit-content;
    width: 99%;
    height: fit-content;
    font-size: medium;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}